body {
    font: 20px Arial  serif ;
}


.navbar {
    background-color: #7DCEA0 ; 
}

.margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.quem-somos {
    background-color: #D5DBDB;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #6E2C00;
}

.parceiros {
    background-color: yellow;
    padding-top: 50px;
    padding-bottom: 50px;
}


.serviços {
    background-color: #FAD7A0;
    padding-top: 50px;
    
}

.bg-footer {
    background-color: #212F3C;
    color: white;
}